<h1>Add new contacts here...</h1>
<%= form_for :contact, url: contacts_path do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br/>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
